@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@theme inline{
  --color-primary : var(--color-neutral-800);
  --color-secondary : var(--color-neutral-500);
--shadow-aceternity:
  0px 2px 3px -1px rgba(0, 0, 0, 0.1),
  0px 1px 8px 0px rgba(25, 28, 33, 0.02),
  0px 0px 9px 1px rgba(25, 28, 33, 0.08);

}

.dark{
  --color-primary: var(--color-neutral-100);
  --color-secondary: var(--color-neutral-400);
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
